<meta property="og:locale" content="{{ .Site.Language.Lang }}">
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:title" content="{{ .Site.Params.Brand }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Params.Brand }}">
<meta property="og:image" content="{{ .Site.Params.metaImage | absURL }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Site.Params.Brand }}">
<meta name="twitter:description" content="{{ .Site.Params.description }}">
<meta name="twitter:site" content="{{ .Site.BaseURL }}">
<meta name="twitter:creator" content="{{ .Site.Params.metaCreator }}">
<meta name="twitter:image" content="{{ .Site.Params.metaImage | absURL }}">
