body {
    font-family: 'LatoLatinWeb', Avenir, HelveticaNeue-Light, "Helvetica Neue Light",
                 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #3A3B3C;
    font-size: 1.1em;
    background-color: #f0f1f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    margin: 1em 0;
}
b,
strong {
    font-family: 'LatoLatinWebHeavy';
    font-weight: normal
}
.nav-bar {
    padding: 0.7em 0;
    text-align: center;
}
.nav-header {
    margin: 0;
}
.nav-text {
    text-decoration: none;
}
.post {
    margin: 0 0 1em 0;
    line-height: 1.5;
}
.post-header {
    margin: 0 0 1.5em 0;
}
.post-title {
    font-size: 1.8em;
    line-height: 1.2;
    margin: 0 0 0.4em 0;
}
.post-date {
    display: block;
    color: #7A7B7C;
    font-size: 0.8em;
    margin: 0;
}
.post-figure {
    margin: 1.5em 0;
}
.post > p:first-of-type::first-letter {
    font-family: 'LatoLatinWebHeavyItalic';
    float: left;
    font-size: 3em;
    line-height: 1;
    margin: 0 0.1em -0.1em 0;
    /* initial-letter: 2; Maybe someday*/
}
.content {
    background-color: white;
    padding: 2em 0;
    margin-bottom: 2em;
    width: 100%;
    max-width: 46rem;
    border-radius: 0.3rem;
    transition: transform 0.3s cubic-bezier(.25,.8,.25,1), box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 0.15em 0.3em 0 rgba(0, 0, 0, 0.16), 0 0.15em 0.3em -0.04em rgba(0, 0, 0, 0.23);
}
.list-header {
    margin: 9em 0;
    text-align: center;
}
.list-header-title {
    margin: 0.1em 0 0.2em 0;
    font-size: 2.2em;
    text-transform: uppercase;
}
.list-header-subtext {
    font-weight: normal;
    color: #7A7B7C;
    font-size: 1em;
    line-height: 1.6;
    margin: 0;
}
.card-container {
    max-width: 46rem;
}
.card {
    display: block;
    margin: 2rem 0;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    border-radius: 0.3rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: transform 0.3s cubic-bezier(0.25,0.8,0.25,1), box-shadow 0.3s cubic-bezier(0.25,0.8,0.25,1);
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,0.16), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.23);
}
.home-card {
    padding: 0.8em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(../img/antony-xia-522597-unsplash.jpg) center center no-repeat;
    object-fit: cover;
}
.blog-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.card-img-container {
    position: relative;
}
.card-img {
    border-radius: 0.3rem 0.3rem 0 0;
    margin-bottom: -0.28em;
    max-height: 10em;
    object-fit: cover;
}
.card-img-overlay {
    border-radius: 0.3rem 0.3rem 0 0;
    position: absolute;
    top: 0;
    font-size: 1.27em;
    text-align: center;
    padding: 1.18em 0 0.5em 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.card-body {
    padding: 1em;
}
.card-title {
    margin: 0;
    line-height: 1.2;
}
.card-text {
    margin: 1em 0;
    line-height: 1.5;
}
.card-subtext {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.8em;
}
.end-nav {
    width: 100%;
    max-width: 46rem;
}
.pagination-nav {
    margin: 3em 0 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 46rem;
}
.button {
    padding: 0.5em 0.6em;
    background-color: #FFF;
    border-radius: 0.3rem;
    box-shadow: 0 0.04rem 0.12rem rgba(0,0,0,0.12), 0 0.04rem 0.08rem rgba(0,0,0,0.24);
}
.button:hover {
    transform: scale(0.97);
}
.button:active {
    transform: scale(1);
}
.side-gutter {
    margin-left: 0.7rem !important;
    margin-right: 0.7rem !important;
}
.side-padding {
    padding-left: 0.7rem !important;
    padding-right: 0.7rem !important;
    box-sizing: border-box !important;
}
.muted-text {
    color: #7A7B7C;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 0.7em 0;
}
img {
    width: 100%;
    height: auto;
}
blockquote {
    border-left: 0.3em solid #D1D1D1;
    margin: 1.5em 0.8em;
    padding: .5em 0.5em;
    font-style: italic;
}
blockquote p {
    display: inline;
}
ul,
ol {
    padding-left: 1.6em; 
}
li ul, li ol {
    padding-left: 1em;
}
li > p {
    margin: 0;
}
code {
    font-family: monospace;
    padding: .2em .5em;
    line-height: 1.5;
    border-radius: 0.3rem;
    background-color: #f3f3f3;
}
hr {
    border: 0;
    border-bottom: thin solid #D1D1D1;
    margin: 3em 0;
}
a {
    color: #3A3B3C;
}
table {
    color: #3A3B3C;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em 0;
}
td,
th {
    padding: 0.5em 1em;
    border: thin solid #D1D1D1
}
th {
    font-family: 'LatoLatinWebHeavy';
    font-weight: normal
}
tr:nth-child(even) td {
    background: #f3f3f3;
}
footer {
    padding: 2em 0;
    margin: 2em 0 0 0;
}
@media screen and (pointer: coarse) {
 .card-hover {
    transform: scale(0.95);
    box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
    }
}
@media not screen and (pointer: coarse) {
    .card:hover {
        transform: scale(0.97);
        box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
    }
    .card:active {
        transform: scale(1);
    }
}
/* Medium devices (tablets, ~641px and up) */
@media only screen and (min-width: 40.063em) {
    body {
        font-size: 1.125rem;
    }
    .list-header {
        margin: 8em 0;
    }
    .list-header-title {
        font-weight: normal;
        font-size: 4.2em;
    }
    .card-columns {
        grid-gap: 2em;
    }
    .card {
        border-radius: 0.2rem;
    }
    .blog-card {
        flex-direction: row;
        align-items: stretch;
    }
    .card-img {
        border-radius: 0.2rem 0 0 0.2rem;
        margin: 0;
        max-height: unset;
        height: 100%;
        width: 15em;
    }
    .card-img-overlay {
        border-radius: 0.2rem 0 0 0;
    }
    .card-body {
        padding: 1.5em 1.3em;
    }
    .card-title {
        font-size: 1.27em;
    }
    .card-text {
        font-size: 0.95em;
        margin: 1.2em 0;
    }
    .card-subtext {
        font-size: 0.7em;
    }
    .content {
        border-radius: 0.2rem;
    }
    .post {
        margin: 1em 1em 2em 1em;
    }
    .post-title {
        font-size: 2.5em;
    }
    .pagination-nav {
        margin: 4em 0 2em 0;
    }
    .button {
        border-radius: 0.2rem;
    }
    code {
        border-radius: 0.2rem;
    }
}
