body {
    font-family: 'LatoLatinWeb', Avenir, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #3A3B3C;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}
p {
    margin: 1em 0;
}
b,
strong {
    font-family: 'LatoLatinWebHeavy';
    font-weight: normal
}
.post {
    line-height: 1.5;
}
.post-header {
    margin: 1.5em 0;
}
.post-title {
    font-size: 1.8em;
    line-height: 1.2;
    margin: 0.4em 0;
}
.post-date {
    display: block;
    color: #7A7B7C;
    font-size: 0.8em;
    margin: 0;
}
.post-figure {
    margin: 1.5em 0;
}
.post > p:first-of-type::first-letter {
    font-family: 'LatoLatinWebHeavyItalic';
    float: left;
    font-size: 3em;
    line-height: 1em;
    padding-right: 0.1em;
    /* initial-letter: 2; Maybe someday*/
}
img {
    width: 100%;
    height: auto
}
.content-container {
    display: flex;
    justify-content: center;
    padding: 0 1em;
}
.content {
    max-width: 700px;
    width: 100%;
}
.card-container {
    width: 100%;
}
.card-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    justify-content: center;
}
.card-link-wrapper {
    color: rgb(52, 58, 63);
    display: block;
    background-color: white;
    transition: transform 0.3s;
}
.card-link-wrapper-active {
    transform: scale(0.95);
}
.card {
    padding: 1em;
}
.card-img {
    margin-bottom: -1.2em;
    max-height: 10em;
    object-fit: cover;
}
.card-title {
    margin: 0.5em 0 0.2em 0;
    /* text-align: center; */
}
.card-date {
    display: block;
    /* text-align: center; */
}
.card-text {
    line-height: 1.5;
    margin: 0.8em 0 0.5em 0;
}
blockquote {
    border-left: 0.3em solid #D1D1D1;
    margin: 1.5em 0.8em;
    padding: .5em 0.5em;
    font-style: italic;
}
blockquote p {
    display: inline;
}
ul,
ol {
    padding-left: 1.6em; 
}
li ul, li ol {
    padding-left: 1em;
}
li > p {
    margin: 0;
}
code {
    font-family: monospace;
    padding: .2em .5em;
    line-height: 1.5;
    border-radius: 0.2em;
    background-color: #f3f3f3;
}
hr {
    border: 0;
    border-bottom: 1px solid #D1D1D1;
    margin-top: 3em 0;
}
a {
    text-decoration: none;
}
table {
    color: #3A3B3C;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em 0;
}
td,
th {
    padding: 0.5em 1em;
    border: thin solid #D1D1D1
}
th {
    font-family: 'LatoLatinWebHeavy';
    font-weight: normal
}
tr:nth-child(even) td {
    background: #f3f3f3;
}

/* Medium devices (tablets, ~641px and up) */
@media only screen and (min-width: 40.063em) {
    body {
        font-size: 1.125rem;
    }
    .card-container{
        max-width: 700px;
    }
    .card-columns {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large devices (desktops, ~1025px and up) */
@media only screen and (min-width: 64.063em) {
    .post-title {
        font-size: 2.5em;
    }
    .card-container{
        max-width: 900px;
    }
    .card-columns {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Extra large devices (large desktops, ~1441px and up) */
@media only screen and (min-width: 90.063em) {

}
