<a ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" 
  onmouseover="cardPressed.call(this)" onmouseout="cardReleased.call(this)" href="{{ .Permalink }}" class="card" rel="bookmark" title="Link to {{ .Title }}" >
    {{ if isset .Params "featuredimage" }}
    <div>
      <img src="{{ .Site.BaseURL }}/{{.Params.featuredimage }}" class="card-img">
    </div>
    {{ end }}
  <article class="card-body">
    <h2 class="card-title">{{ .Title }}</h2>
    <p class="card-text">{{ .Description }}</p>
    <div class="card-subtext">
      <p style="margin: 0 1em 0 0;">Posted <time datetime="{{ .PublishDate.Format "2006-01-02 12:00" }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time></p>
      <p style="margin: 0 1em 0 0;">|</p>
      <p style="margin: 0 1em 0 0;">#Category</p>
    </div>
  </article>
</a>