<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body class="list-body">
    {{ partial "nav-bar.html" . }}
    <main class="card-container side-gutter">
      <header class="list-header">
        <p class="list-header-subtext">{{ .Description }}</p>
        <h1 class="list-header-title">{{ .Title }}</h1>
      </header>
      {{ range where .Paginator.Pages "Params.list"  "!=" false }}
      {{ .Render "li" }}
      {{ end }}
    </main>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <nav class="pagination-nav side-padding">
      {{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL }}" class="pagination-newer">&lt; Newer Posts</a>{{ end }}
      {{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL }}" class="pagination-older">Older Posts &gt;</a>{{ end }}
    </nav>
    {{ end }}
    {{ partial "scripts.html" . }}
  </body>
</html>