<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body>
    <div class="content-container">
      <main class="content">
        <article class="post">
          <header>
            <h1>{{ .Title }}</h1>
            <time datetime="{{ .PublishDate.Format "2006-01-02 12:00" }}" class="post-date">{{ .PublishDate.Format "Jan 2, 2006" }}</time>
          </header>
          {{ .Content }}
        </article>
        <hr />
        <!--
        If you're going to use DISQUS comments, insert code here.
        -->
      </main>
    </div>
  {{ partial "scripts.html" . }}
  </body>
</html>