<footer class="side-padding" style="background-image: url('{{ "img/home-blob-flip.svg" | absURL }}');">
    <a href="{{ $.Site.BaseURL }}" class="footer-link">
    {{ with resources.Get "icons/home.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Home">
    {{ end }}
    </a>
    {{ if isset $.Site.Params "facebook"}}
    <a href="{{ $.Site.Params.facebook }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/facebook.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Facebook" target="_blank" rel=" noreferrer"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "flicker"}}
    <a href="{{ $.Site.Params.flicker }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/flicker.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Flicker"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "github"}}
    <a href="{{ $.Site.Params.github }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/github.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="GitHub"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "instagram"}}
    <a href="{{ $.Site.Params.instagram }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/instagram.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Instagram"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "linkedin"}}
    <a href="{{ $.Site.Params.linkedin }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/linkedin.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="LinkedIn"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "patreon"}}
    <a href="{{ $.Site.Params.patreon }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/patreon.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Patreon"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if eq .Site.Params.rssinmenu true -}}
    <a href="{{ "/index.xml" | absURL }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/rss.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="RSS"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "soundcloud"}}
    <a href="{{ $.Site.Params.soundcloud }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/soundcloud.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Soundcloud"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "spotify"}}
    <a href="{{ $.Site.Params.spotify }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/spotify.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Spotify"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "tumblr"}}
    <a href="{{ $.Site.Params.tumblr }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/tumblr.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Tumblr"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "twitch"}}
    <a href="{{ $.Site.Params.twitch }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/twitch.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Twitch"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "twitter"}}
    <a href="{{ $.Site.Params.twitter }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/twitter.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Twitter"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "vimeo"}}
    <a href="{{ $.Site.Params.vimeo }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/vimeo.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Vimeo"/>
    {{ end }}
    </a>
    {{ end }}
    {{ if isset $.Site.Params "youtube"}}
    <a href="{{ $.Site.Params.youtube }}" class="footer-link" target="_blank" rel="noopener noreferrer">
    {{ with resources.Get "icons/youtube.svg" }}
        <img class="footer-icon" src="{{ .Permalink }}" alt="Youtube"/>
    {{ end }}
    </a>
    {{ end }}
</footer>