<nav class="nav-bar side-padding">
  <h1 class="nav-header"><a href="/" class="nav-text">
    {{ if isset $.Site.Params "brand"}}
      {{- $.Site.Params.brand -}}
    {{ else }}
      {{- $.Site.Title -}}
    {{ end }}
  </a></h1>
  <div class="hamburger-menu">
		<input type="checkbox" onclick="hamburgerMenuPressed()"/>
		<span></span>
		<span></span>
    <ul class="hamburger-menu-overlay">
      <li><a href="/" class="hamburger-menu-overlay-link">Home</a></li>
      {{ range where .Site.Pages "Params.displayinmenu" true }}
			<li><a href="{{ .Permalink }}" class="hamburger-menu-overlay-link">{{ .Title }}</a></li>
			{{ end }}
      {{ range $key, $value := .Site.Taxonomies.categories }}
			<li><a href="/categories/{{ $key | urlize  }}" class="hamburger-menu-overlay-link">{{ $key | humanize }}</a></li>
			{{ end }}
    </ul>
  </div>
</nav>